<h1>All Articles</h1>

<h3>
<%= link_to "Create a New Article", new_article_path, class: "new-article" %>
</h3>

<ul id='articles'>
  <% @articles.each do |article| %>
    <li>
      <p><%= link_to article.title, article_path(article), class: 'article-title' %></p>
    </li>
  <% end %>
</ul>
